#body{
	background-color: black;
}
.container{
	background-color: white;
	min-height: 600px;
	height: auto;
}
#bold{
	font-weight: bold;
}
#imgtest{
	width: 100%;
}
#algoritmoimg{
	width: 50%;
	float: right;
}
#bdimg{
	width: 100%;
}
#lttimg{
	width: 100%
}